<div class="grid-element">
  <div class="campaign-header">
    <div class="campaign-header-left">
      <span>Campaign</span>
      <div class="status"></div>
    </div>
    <button
      class="campaign-header-left-button"
      mat-icon-button
      aria-label="Edit"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="grid-element-body">
    <div class="keywords">
      <span class="title">Keywords</span>
      <div class="value">
        <span>wadawd</span>
        <span>awdd</span>
        <span>dfee</span>
      </div>
    </div>
    <div class="bid-amount">
      <span class="title">Bid amount</span>
      <span class="value">5000</span>
    </div>
    <div class="campaign-fund">
      <span class="title">Campaign fund</span>
      <span class="value">12345</span>
    </div>
    <div class="town">
      <span class="title">Town</span>
      <span class="value">Kraków</span>
    </div>
    <div class="radius">
      <span class="title">Radius</span>
      <span class="value">50km</span>
    </div>
  </div>
</div>
