.grid-element {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.campaign-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  padding: 12px;
  background-color: #f4f4f4; /* Dodanie tła dla wyróżnienia */
  border-radius: 12px 12px 0 0; /* Zaokrąglone górne rogi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień dla nagłówka */
}

.campaign-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.campaign-header-left span {
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

.status {
  width: 12px;
  height: 12px;
  background-color: #3bce5d;
  border-radius: 50%;
  -webkit-box-shadow: 8px 9px 15px 9px #3bce5d;
  -moz-box-shadow: 8px 9px 15px 9px #3bce5d;
  box-shadow: 0px 0px 20px 1px #3bce5d;
}

.campaign-header div:last-child {
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  font-weight: 500; /* Lekkie pogrubienie */
}

.campaign-header div:last-child:hover {
  color: #0056b3;
}

.grid-element-body {
  padding: 5px 16px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.grid-element-body .title {
  font-weight: bold;
  font-size: 14px;
  color: #555555;
}

.grid-element-body .value {
  font-size: 14px;
  color: #333333;
}

.keywords {
  display: flex;
  justify-content: space-between;
}

.keywords .value {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keywords .value span {
  background-color: #f0f0f0;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  color: #333333;
}

.bid-amount,
.campaign-fund,
.town,
.radius {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bid-amount .value,
.campaign-fund .value,
.town .value,
.radius .value {
  font-weight: bold;
  color: #007bff;
}

.icon {
  color: #9f9f9f;
}
